nav h3{
    color: aliceblue;
    text-shadow: 3px 3px #000000;
    font-weight: 900;
    line-height: 35px;
    font-size: 2.3rem;
}

nav{
    display: flex;
    align-items: center;
    height: 90px;
    justify-content: space-between;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 1.5px );
    -webkit-backdrop-filter: blur( 1.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 20px 80px ;
    box-shadow: 0 5px 15px rgb(0, 0, 0 , 0.06);
    z-index: 10000;
}

#navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar li{
    padding-right: 80px;
    position: relative;
}

#navbar li a{
    color: rgba(54,67,74,1);
    transition: .4s ease-in-out ;
}

#mobile{
    display: none;
}

#mobile{
    color: aliceblue;
}

@media screen and (max-width: 1024px){


    nav h3{
        font-size: 1.5rem;
    }

    #navbar{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        /* sending content of navbar outside */
        position: fixed;
        top: 90px;
        right: -300px;
        width: 300px;
        height: 100vh;
        background-color: #2a3239;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 40px 0 0 10px;
        transition: .4s;
    }

    #navbar.active{
        right: 0px;
    }

    #navbar li{
        margin-bottom: 25px;
    }

    #navbar li a{
        color: #ffff;
    }

    #mobile{
        display: block;
    }



}