.main{
    height: 670px;
    color: var(--color-white);
}

.profile{
    width: 450px;
    height: 400px;
}

.home{
    font-size: 2.5rem;
    line-height: 45px;
    padding-left: 250px;
}

@media only screen and (max-width : 1024px){

    .home{
        padding-left: 50px;
        font-size: 1.5rem;

    }

    .profile{
        width: 300px;
        height: 270px;
    }

}