.progress-skills {
  height: 400px;
  padding: 0;
}

.progress {
  background: rgba(255,255,255,0.1);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 40px;
  width: 500px;
}

.precent{
  color: black;
  font-size: 40px;
  
}

.progress-value-html {
  animation: html 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #fff;
  height: 30px;
  width: 0;
}

.progress-value-html::before {
  content: "80%";
  color: black;
  font-size: 40px;
  display: flex;
  justify-content: flex-start;
  z-index: 1000;
  margin-top: -12px;
  margin-left: 12px;
}

@keyframes html {
  0% { width: 0; }
  100% { width: 80%; }
}

.progress-value-tailwind {
    animation: tailwind 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #fff;
    height: 30px;
    width: 0;
  }

  .progress-value-tailwind::before {
    content: "80%";
    color: black;
    font-size: 40px;
    display: flex;
    justify-content: flex-start;
    z-index: 1000;
    margin-top: -12px;
    margin-left: 12px;
  }
  
  @keyframes tailwind {
    0% { width: 0; }
    100% { width: 80%; }
  }

  .progress-value-react,
  .progress-value-mongo,
    .progress-value-js {
    animation: react 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #fff;
    height: 30px;
    width: 0;
  }

  .progress-value-react::before,
  .progress-value-mongo::before,
  .progress-value-js::before {
    content: "70%";
    color: black;
    font-size: 40px;
    display: flex;
    justify-content: flex-start;
    z-index: 1000;
    margin-top: -12px;
    margin-left: 12px;
  }
  
  @keyframes react {
    0% { width: 0; }
    100% { width: 70%; }
  }

  .progress-value-css {
    animation: css 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #fff;
    height: 30px;
    width: 0;
  }

  .progress-value-css::before {
    content: "80%";
    color: black;
    font-size: 40px;
    display: flex;
    justify-content: flex-start;
    z-index: 1000;
    margin-top: -12px;
    margin-left: 12px;
  }
  
  @keyframes css {
    0% { width: 0; }
    100% { width: 80%; }
  }

  .progress-value-next {
    animation: next 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #fff;
    height: 30px;
    width: 0;
  }

  .progress-value-next::before {
    content: "70%";
    color: black;
    font-size: 40px;
    display: flex;
    justify-content: flex-start;
    z-index: 1000;
    margin-top: -12px;
    margin-left: 12px;
  }
  
  @keyframes next {
    0% { width: 0; }
    100% { width: 50%; }
  }

  .progress-value-express {
    animation: express 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #fff;
    height: 30px;
    width: 0;
  }

  .progress-value-express::before {
    content: "70%";
    color: black;
    font-size: 40px;
    display: flex;
    justify-content: flex-start;
    z-index: 1000;
    margin-top: -12px;
    margin-left: 12px;
  }
  
  @keyframes express {
    0% { width: 0; }
    100% { width: 40%; }
  }


.section-1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 1024px){
  
  label{
    font-size: 40px;
  }

  .progress{
    height: 30px;
    width: 300px;
  }

  .progress-value-html,
  .progress-value-css,
  .progress-value-express,
  .progress-value-js,
  .progress-value-mongo,
  .progress-value-next,
  .progress-value-react,
  .progress-value-tailwind{
    height: 20px;
    width: 200px;
  }

  .progress-value-html::before,
  .progress-value-css::before,
  .progress-value-express::before,
  .progress-value-js::before,
  .progress-value-mongo::before,
  .progress-value-next::before,
  .progress-value-react::before,
  .progress-value-tailwind::before{
    font-size: 30px;
    margin-top: -10px;
    margin-left: 12px;
  }

}

