@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

*{
  
  font-size: 1.7rem;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth!important;
}

.contain{
  font-family: 'Comic Neue', cursive;
  background: rgb(34,40,49);
  background: linear-gradient(21deg, rgba(34,40,49,1) 5%, rgba(57,62,70,1) 33%, rgba(0,147,147,1) 85%, rgba(54,67,74,1) 100%, rgba(47,77,83,1) 100%) center no-repeat ; 
  height: 100%;
  max-width: 100%;
  scroll-behavior: smooth;
}

